body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 50px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

h1 {
    margin-bottom: 20px;
}

button {
    background-color: #a47af7;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8856ec;
}

.color-box {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: 1px solid #f3eeee;
    border-radius: 5px;
}

#color-code {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
